<div class="bookpage-container" >
<div >
  {{!-- <img id="bookpage-image" src="{{filename}}" alt="image"> --}}
  <div id="bookpage-text">
    <h2>{{title}}</h2>
    <p>Written by {{author}}</p>
    <p>Genre: {{genre}}</p>
    <p>My rating: {{rating}}</p>
    <p>My thoughts: {{description}}</p>
    <p>
      <button style="margin-top: 10px;" class="btn btn-primary">Finished this book!</button>
    </p>
  </div>
</div>