<!-- Loop over each object in the projects array -->
{{#each books as |book| }}
<div id="homepage-display-books" class="row mb-4 book">
  <div id="book-section-homepage" class="col-md-5">
    <div id="homepage-image"><img src="{{filename}}" alt="image"></div>
    <div id="homepage-book-information">
      <a href="/book/{{id}}">{{title}}</a>
      <p>Written by {{author}}</p>
      <p> {{genre}} </p>
      <p>{{number_pages}} pages</p>
    </div>
  </div>
</div>
{{/each}}