<!-- Loop over each object in the projects array -->
{{#each books as |book| }}
<div class="row mb-4 book">
  <div class="col-md-5">
    <h2>
      <a href="/book/{{book.id}}">{{book.title}}</a>
    </h2>
    <p>
      {{book.synopsis}}
    </p>
    <p>Written by {{book.author}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{book.genre}}
      {{book.number_pages}}
      {{book.date_publication}}
      {{book.ISBN}}
    </p>
  </div>
</div>
{{/each}}
